<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0//EN" "http://www.w3.org/TR/REC-html40/strict.dtd"> 
<html lang="EN"> 
  <head> 
    <title>Message Board - {% block title %} {% endblock %}</title> 
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head> 
  <body>
    <h1>Message Board</h1>
    {% include('_navigation.html') %}
    <section>
      <header>
        {% block header %} {% endblock header %}
      </header>
      <main>
        {% block content %}<p>No Messages</p> {% endblock content %}
      </main>
   </section>
  </body> 
</html>
